---
import { getAllCategories } from "../../lib/apiRequest/dataFetching";
import type { CategoriesListData } from "../../lib/interface";
const categoriesData: CategoriesListData | null = await getAllCategories();
const categories = categoriesData?.categories || [];
---

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-16">
  <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">
    shop by category
  </h2>
  <div class="grid grid-cols-8 gap-3">
    {
      categories?.map((category) => (
        <Fragment key={category.id}>
              <a
              href={`/categories/${category?.slug}`}
              class="border flex flex-col justify-center items-center py-2 px-3 text-sm space-y-2 rounded-xl">
              <img class="w-12" src={category?.imageUrl} alt="Skincare &amp; Beauty"/>
              <div class="wgt-h4k2m9-title">{category?.name}</div>
            </a>
        </Fragment>
      ))
    }
  </div>
</div>
