---
import { getAllCategories } from "../../lib/apiRequest/dataFetching";
import type { CategoriesListData } from "../../lib/interface";
const categoriesData: CategoriesListData | null = await getAllCategories();
const categories = categoriesData?.categories || [];
---

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-16">
  <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">
    shop by category
  </h2>
  <div
    class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-8 gap-4 sm:gap-6"
  >
    <!-- category card -->
    {
      categories?.map((category) => (
        <Fragment key={category.id}>
          <a
            href={`/categories/${category?.slug}`}
            class="group border border-gray-200 py-6 bg-white flex flex-col justify-center items-center text-xs space-y-2 rounded-xl shadow-sm transition-all duration-200 hover:shadow-lg hover:border-primary-500 hover:bg-primary-50 hover:scale-102 focus:outline-none focus:ring-2 focus:ring-primary-400"
          >
            <img
              class="w-10 h-10 object-cover group-hover:scale-102 transition-all duration-200 "
              src={category?.imageUrl}
              alt={category?.name || "Category"}
            />
            <div class="font-semibold text-gray-800 group-hover:text-primary-600 text-xs text-center truncate">
              {category?.name}
            </div>
          </a>
        </Fragment>
      ))
    }
  </div>
</div>
