---
import { getCollectionById } from "../../lib/apiRequest/dataFetching";
import ProductCard from "./ProductCard.astro";

const collection = await getCollectionById("OLDTd9h9LLr6Ofcor10mZ");
const products = collection?.products;
---

<div class="container pb-16">
  <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">
    top new arrival
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
    {
      products?.map((product) => (
        <Fragment key={product.id}>
          <ProductCard product={product} />
        </Fragment>
      ))
    }
  </div>
</div>
