---
import {
  getAllCollections,
  getCollectionById,
} from "../../lib/apiRequest/dataFetching";
import ProductCard from "./ProductCard.astro";
// const coll = await getAllCollections();
const collection = await getCollectionById("awjozLK92GIUPLIwVvBU-");
const products = collection?.products;
---

<div class="container pb-16">
  <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">
    TRENDING PRODUCTS
  </h2>
  <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
    {
      products?.map((product) => (
        <Fragment key={product.id}>
          <ProductCard product={product} />
        </Fragment>
      ))
    }
  </div>
</div>
