<div class="bg-gray-800 py-4">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex items-center justify-between">
    <p class="text-white">&copy; Scalius - All Right Reserved</p>
    <div>
      <img src="/images/methods.png" alt="methods" class="h-5" />
    </div>
  </div>
</div>
