---
import CartFlyoutIcon from "../components/ui/CartFlyoutIcon";
import SearchBar from "./SearchBar.astro";
---

<header class="py-4 shadow-sm bg-white">
  <div
    class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex items-center justify-between"
  >
    <a href="/">
      <img src="/logo.heif" alt="Logo" class="w-32" />
    </a>

    <!-- Desktop Search Bar -->
    <div class="hidden md:block flex-grow max-w-xl mx-4">
      <SearchBar />
    </div>

    <CartFlyoutIcon client:load />
  </div>

  <!-- Mobile Search -->
  <div class="md:hidden py-2">
    <SearchBar mobileView={true} containerClass="max-w-md mx-auto" />
  </div>
</header>
