---
import ProductCard from "../HomeComponents/ProductCard.astro";
const { relatedProducts } = Astro.props;
---

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 pb-16">
  <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">
    Related products
  </h2>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-5 gap-4 lg:gap-6"
  >
    {
      relatedProducts?.map((product) => (
        <Fragment key={product.id} class="">
          <ProductCard product={product} />
        </Fragment>
      ))
    }
  </div>
</div>
