---
import Navbar from "../components/Navbar.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import Copywrite from "../components/Copywrite.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const {
  title = "Prime Wear - Collection of Primium Cloth",
  description = "This is a clothing brand ecommerce store",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <ClientRouter />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-..."
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="min-h-screen">
    <Header />
    <Navbar />
    <slot />
    <Footer />
    <Copywrite />
  </body>
</html>
